<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-inner">
      <div class="footer-brand">
        <img class="footer-logo" src="{{ "/assets/images/logo.svg" | relative_url }}" alt="" width="38" height="28">
        <span>{{- site.description | escape -}}</span>
      </div>

      <div class="footer-info">
        <span>{{ site.content.address }}</span>
        <span>{{ site.content.phone }}</span>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        <a class="footer-social" href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}" aria-label="LinkedIn">
          <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
        </a>
      </div>
    </div>
  </div>

</footer>
