---
layout: default
---

{% assign collection =  site.collections | where: "label", page.works | first %}

<h2>Campanile BM</h2>

<h4 style="font-size: 20px;">Lavori di consolidamento e restauro finiti</h4>

<div>
    <video width="100%" controls>
        <source src="../../foto/Restauro e consolidamento/Campanile BM/1.mp4" type="video/mp4">
    </video>
</div>

<div class="post-list row" style="margin-bottom: 10px">
    <div class="col-sm-6 col-md-6">
        <img class="work-preview" src="../../foto/Preview/campanilebm.png">
    </div>
    <div class="col-sm-6 col-md-6">
        <img class="work-preview" src="../../foto/Preview/campanilebm2.png">
    </div>
</div>

<ul class="post-list row">
    {%- for node in collection.docs -%}
    <li class="col-sm-6 col-md-6">
        <div class="box">
            <a href="{{ node.url | relative_url }}">
            {{ node.title | escape }}
            </a>
        </div>

        <a href="{{ node.url | relative_url }}">
            <img class="work-preview" src="{{ node.preview }}">
        </a>
    </li>
    {%- endfor -%}
</ul>
{%- include gallery.html -%}
